* {
  margin: 10px;
}

.container {
  display: flex;
}

p {
  padding: 20px;
}

@media screen and (max-width: 500px) { 
  body {
    background-color: gray;
  }
  .container {
    flex-direction: column;
  }

}

@media screen and (max-width: 99999px) { 
  body {
    background-color: green;
  }
  .container {
    flex-wrap: wrap;
  }
}