.super-mario{
    width: 100px;
    position: absolute;
    z-index: 1;
}

.goomba{
    width: 60px;
    position: absolute;
    left: 50px;
    top: 210px;
    z-index: 2;
}

.word{
    position: absolute;
    font-size: 10px;
    left: 150px;
    z-index: 5;
    top: 75px;
}

.baloon{
    width: 120px;
    position: absolute;
    left: 140px;
    top: 60px;
    z-index: 4;
}

.bowser{
    width: 200px;
    position: absolute;
    top: 60px;
    left: 250px;
    z-index: 3;
}