h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    line-height: 100px;
    text-align: center;
    text-decoration: underline;

}

ul {
  background-color: gray;
}

.background-color{
  background-color: yellow;
}

p {
  font-weight: 600;
  font-size: 3em;
}

body {
  font-size: 16px;
  font-style: oblique;
}

#yellow{
  background-color: yellow;
}

#red{
  background-color: red;
}

#brown{
  background-color: brown;
}