header {
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 15px;
    border: solid 2px;
}

nav ul li a{
    padding: 20px ;
    text-decoration: none;
}

.article{
    display: block;
    margin: auto;
}

.article h2{
    text-align: center;
}


.article h3{
    text-align: center;
    margin-bottom: 0px;
    border: solid 2px black;
    display: flex-box;
}

section ul li{
    text-align: center;
    list-style: none;

}

.section{
    display: block;
}

.img{
    margin-left: 390px;
    position: relative;
    width: 500px;
}

p {
    display: block;
    text-align: center;
    margin: 10px 400px;
}

.bibli{
    display: flexbox;
    justify-content: center;
    list-style: none;
    margin-left: 0px;
    padding: 10px
}

#acao{
    border: solid 2px black;
    text-align: center;
    display: flexbox;
    margin-left: 500px;
    padding: 5px;
}


footer{
    text-align: center;
    padding-top: 40px;
}
